* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

/* Sidebar section */
.sidebar {
    color: white;
    border: 3px solid black;
    background-color: rgb(66, 23, 134);
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / -1 / 2;
}

.sidebar-logo {
    border: 2px solid aqua;
    margin-left: 6%;
    font-size: 1.5rem;

}

.sidebar-top-categories {
    font-size: 1.2rem;
    margin-top: 50%;
    margin-left: 6%;
    border: 2px solid yellow;
}

.sidebar-bottom-categories {
    font-size: 1.2rem;
    margin-top: 30%;
    margin-left: 6%;
    border: 2px solid rgb(83, 213, 83)
}

/* Header section */
.header-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid blue
}

/* Projects section */
.main-content-container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-area: 1 / 1 / -1 / 3
}

.projects-left {
    border: 4px solid purple;
    grid-area: 2 / 1 / -1 / 2;
}

.projects-right {
    border: 4px solid red;
    grid-area: 2 / 2 / -1 / 3;
}

.project {
    border: 2px solid lime;
}


.announcements-container {
    grid-area: 1 / 3 / 2 / 4;
}


.trending-container {
    grid-area: 2 / 3 / -1 / 4;
}